.button {
    display: flex;
    font: 30px Arial;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 50px;
    padding: 25px 60px;
    border-bottom: 5px solid #2b6cb0;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: #548fc1;
}